body{
    background-image: linear-gradient(blue,white,red);
    background-size: cover;
    height: 100vh;
}
.button{
    border-radius: 12px;
    color: brown;
    background-color: white;    
    outline: none;
    font-size: 15px;
}
#textarea{
    border-radius: 10px;
    font-weight: normal; 
    width: 55%;
    height: 160px;   
}